@import '@/theme/Colors.less';

.bg-primary {
  background-color: @grey;
}
.bg-strawberry {
  background-color: @strawberry;
}
.bg-blue {
  background-color: @blue;
}
.bg-purple {
  background-color: @purple;
}
.bg-green {
  background-color: @green;
}
.bg-error {
  background-color: @error;
}
.bg-grey {
  background-color: grey;
}
.bg-white {
  background-color: white;
}
.bg-transparent {
  background-color: transparent;
}
